In [1]:
# Pandas
# Largamente utilizado na fase de preração dos dados, uma das fases mais importantes no processo de Data Science
# Uma das formas mais rápidas de utilizar com dados estruturados

# Series = array unidimensional que contém um array de dados e um array de labels, chamado índice
# Dataframes = uma estrutura tabular semelhante a estrutura de uma planilha,
# contendo uma coleção de colunas em que cada uma pode ser um diferente tipo de valor.

In [2]:
from pandas import Series

In [3]:
import pandas as pd

In [4]:
# Crianda uma série sem especificar os indíces
Obj = Series([4, 7, -5, 3])

Obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
Obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [6]:
Obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
# Criando uma séria e especificando os índices
Obj2 = Series([4, 7, -5, 3], index = ['a', 'b', 'c', 'd'])
Obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [8]:
Obj2.values

array([ 4,  7, -5,  3], dtype=int64)

In [9]:
Obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
Obj2[Obj2 > 3]

a    4
b    7
dtype: int64

In [11]:
Obj2['b']

7

In [12]:
'd' in Obj2

True

In [13]:
# Criando uma série de dados passando um dicionário como parâmetro
dict = {'Futebol':5200, 'Tenis':120, 'Natação':698, 'Volleyball':1550}

In [14]:
# Criando uma série a partir de um dicionário
Obj3 = Series(dict)
Obj3

Futebol       5200
Natação        698
Tenis          120
Volleyball    1550
dtype: int64

In [17]:
# Criando uma lista
esportes = ['Futebol', 'Tenis', 'natação', 'basketball']

#criando uma série e usando uma lista como índice
Obj4 = Series(dict, index=esportes)

Obj4

Futebol       5200.0
Tenis          120.0
natação          NaN
basketball       NaN
dtype: float64

In [18]:
pd.isnull(Obj4)

Futebol       False
Tenis         False
natação        True
basketball     True
dtype: bool

In [19]:
pd.notnull(Obj4)

Futebol        True
Tenis          True
natação       False
basketball    False
dtype: bool

In [20]:
from pandas import DataFrame

In [23]:
data = {'Estado': ['Santa Catarina', 'Paraná', 'Goiás', 'Bahia', 'Minas Gerais'],
       'Ano': [2002, 2003, 2004, 2005, 2006],
       'Popualação': [1.5, 1.7, 3.6, 2.4, 2.9]}

frame = DataFrame(data)

In [24]:
frame

    Ano          Estado  Popualação
0  2002  Santa Catarina         1.5
1  2003          Paraná         1.7
2  2004           Goiás         3.6
3  2005           Bahia         2.4
4  2006    Minas Gerais         2.9

In [26]:
DataFrame(data, columns=['Ano', 'Estado', 'População'])

    Ano          Estado População
0  2002  Santa Catarina       NaN
1  2003          Paraná       NaN
2  2004           Goiás       NaN
3  2005           Bahia       NaN
4  2006    Minas Gerais       NaN

In [27]:
frame2 = DataFrame(data, columns = ['Ano', 'Estado', 'População', 'Débito'],
                  index =['um', 'dois', 'três', 'quatro', 'cinco'])

frame2

         Ano          Estado População Débito
um      2002  Santa Catarina       NaN    NaN
dois    2003          Paraná       NaN    NaN
três    2004           Goiás       NaN    NaN
quatro  2005           Bahia       NaN    NaN
cinco   2006    Minas Gerais       NaN    NaN

In [28]:
frame2['Estado']

um        Santa Catarina
dois              Paraná
três               Goiás
quatro             Bahia
cinco       Minas Gerais
Name: Estado, dtype: object